{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Login Page
{% endblock title %}

{% block content %}
    <h1>
        This is Login Page
    </h1>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p>Please enter a correct username and password.</p>
        {% endif %}

        {{ form | crispy }}

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}