{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <div class="col-md-8">
        <h1 class="my-4"><small> Reset Password Page </small></h1>

        <div class="text-center" style="width: 80%; margin: 0 auto">
            <h4>Welcome to the Password Reset Page</h4>
            <h5>
                Forgot your password? Please enter the email address you used to register
                with us and we will send you a link to reset your password
            </h5>
        </div>
        <br/>

        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Send email" class="btn btn-success"/><br>
        </form>
        <br/>
        <div class="text-center">
            <a href="{% url 'home' %}">Return to home page</a>
        </div>
    </div>
{% endblock content %}