{% extends 'base.html' %}

{% block title %}
    Admin Sales
{% endblock title %}

{% block content %}
    <div class="col-md-8">
        <h1 class="my-4"><small> Admin Sales List </small></h1>
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Delete</th>
            </tr>

            {% for sale in sale_list %}
                <tr>
                    <td><a class="" href="{{ sale.get_absolute_url }}" role="button">{{ sale.id }}</a></td>
                    <td><a class="" href="{{ sale.get_absolute_url }}" role="button">{{ sale.title }}</a></td>
                    <td><a class="" href="{{ sale.author.get_absolute_url }}"
                           role="button">{{ sale.author.get_full_name }} [{{ sale.author.username }}]</a></td>
                    <td><a class="btn btn-danger" href="{{ sale.get_delete_url }}" role="button">Delete</a></td>
                </tr>
            {% empty %}
                <p>No sales yet.</p>
            {% endfor %}
        </table>
    </div>
{% endblock content %}