{% extends 'base.html' %}

{% block title %}
    Filter
{% endblock title %}

{% block content %}
    <h1>
        This is Filtered List
    </h1>

    {% for sale in filter.qs %}
        <article>
            <h2><a href="{{ sale.get_absolute_url }}">{{ sale.title }}</a></h2>

            <p class="subheader">
                Categories:
                {% for category in sale.categories.all %}
                    {{ category.category_name }}
                {% endfor %}
            </p>

            <p class="subheader">
                Author: {{ sale.author.get_full_name }}
            </p>

            <p class="subheader">
                Price: {{ sale.price }}
            </p>

            <p></p>
            {{ sale.photo }}
            <p></p>
            {{ sale.body | safe | truncatewords:15 }}
        </article>
    {% empty %}
        <p>No sales yet.</p>
    {% endfor %}
{% endblock content %}