{% extends "base.html" %}

{% block content %}
    <article>
        <table>
            <tr>
                <th>Sale Title</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for sale in seller.get_sales_list %}
                <tr>
                    <td>{{ sale.title }}</td>
                </tr>
                <tr>
                    <td>{{ sale.get_update_url }}</td>
                </tr>
                <tr>
                    <td>{{ sale.get_delete_url }}</td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}